# Keys
key.txt
eval_key.txt

# Python / Django
.venv/
venv/
db.sqlite3
__pycache__/
*.py[cod]
*.log
.env
env/


# Node / React / Vite
my-project/frontend/node_modules/
my-project/frontend/dist/
my-project/frontend/.vite/
my-project/frontend/.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
